.primeira-section,
.segunda-section,
.terceira-section {
    height: 400px;
}

.section-um{
    background-color: red
}

.section-dois{
    background-color: blue;
}
.section-tres{
    background-color: pink;
}